<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd 
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd"
	default-lazy-init="true">
	
	<bean id="operatorClass" class="com.jason.pattern.OperatorClass">
		<property name="policyList">
			<list>
				<ref bean="ploicyCheck1" />
				<ref bean="ploicyCheck2" />
				<ref bean="ploicyCheck3" />
			</list>
		</property>
	</bean>
	
	<bean id="ploicyCheck1"
		class="com.jason.pattern.ploicy.Policy1" />
	<bean id="ploicyCheck2"
		class="com.jason.pattern.ploicy.Policy2" />
	<bean id="ploicyCheck3"
		class="com.jason.pattern.ploicy.Policy3" />
    
</beans>